site_name: BorgBoi Docs
copyright: Copyright &copy; 2025 Zach Fuller
site_url: https://fullerzz.github.io/borgboi/
extra:
  social:
      - icon: fontawesome/brands/github
        link: https://github.com/fullerzz/borgboi
repo_url: https://github.com/fullerzz/borgboi
repo_name: fullerzz/borgboi
nav:
  - Overview: index.md
  - Getting Started: pages/getting-started.md
  - Commands: pages/commands.md
  - User Configuration: pages/user-configuration.md
  - SQLite Database: pages/sqlite-database.md

theme:
  name: material
  favicon: images/favicon.ico
  icon:
    logo: fontawesome/solid/hard-drive
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.expand
    - navigation.path
    - navigation.top
    - toc.follow
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: pink
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode

plugins:
  - search
  - glightbox:
      auto_caption: true

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.details
  - pymdownx.blocks.caption
  - admonition
  - attr_list
  - md_in_html
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
      use_pygments: true
      pygments_lang_class: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: True
  - pymdownx.tabbed:
      alternate_style: true
