name: Docs
on:
  push:
    branches:
      - main
      - docs-updates
permissions:
  contents: write

jobs:
  deploy:
    name: Deploy Docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          lfs: true
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Install uv
        uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7
        with:
          version: "0.10.7"
          enable-cache: true

      - name: "Set up Python"
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install dependencies
        run: |
          uv venv
          uv sync --frozen
      - name: Deploy to Github Pages
        run: |
          source .venv/bin/activate
          mkdocs gh-deploy --force
